# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#ignore build
out/
build/

#visual studio stuff
.vs/
CMakeSettings.json
*.code-workspace

#ignore 3rd party folder
inc/MeteringClient/*